<!DOCTYPE html>
<html>
<head>
	<title>Olap</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "site" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
